openapi: 3.2.0
info:
  title: NovelAI Primary /user/subscription/ API
  description: The Primary API describes actions that our Frontend makes against the NovelAI backend.
  version: '1.0'
  contact: {}
servers:
- url: https://api.novelai.net
  description: NovelAI Primary API
tags:
- name: User Subscription
paths:
  /user/subscription/bind:
    post:
      operationId: SubscriptionController_bindSubscription
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BindSubscriptionRequest'
      responses:
        '201':
          description: Subscription has been bound properly.
        '400':
          description: A validation error occured.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Access Token is incorrect.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Subscription ID was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '409':
          description: A conflict occured while binding subscription.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: An unknown error occured.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      tags:
      - User Subscription
      security:
      - bearer: []
      summary: Subscription controller bind subscription
      x-summary-source: derived
  /user/subscription/change:
    post:
      operationId: SubscriptionController_changeSubscriptionPlan
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeSubscriptionPlanRequest'
      responses:
        '200':
          description: Subscription plan has been changed properly.
        '400':
          description: A validation error occured.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Access Token is incorrect.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Subscription SKU was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '409':
          description: A conflict occured while changing subscription plan.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: An unknown error occured.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      tags:
      - User Subscription
      security:
      - bearer: []
      summary: Subscription controller change subscription plan
      x-summary-source: derived
components:
  schemas:
    BindSubscriptionRequest:
      type: object
      properties:
        paymentProcessor:
          type: string
          enum:
          - giftkey
          - trial
          description: Subscription payment processor
        subscriptionId:
          type: string
          description: Payment processor ID
        confirmedReplace:
          type: object
          default: false
          description: Whether the user confirmed replacing the subscription
        confirmedIgnore:
          type: object
          default: false
          description: Whether the user confirmed ignoring the subscription
      required:
      - paymentProcessor
      - subscriptionId
    ChangeSubscriptionPlanRequest:
      type: object
      properties:
        newSubscriptionPlan:
          enum:
          - 0
          - 1
          - 2
          - 3
          type: number
          description: New plan SKU
      required:
      - newSubscriptionPlan
    ApiError:
      type: object
      properties:
        statusCode:
          type: number
        message:
          type: string
      required:
      - statusCode
      - message
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
